[submodule "OCA/product-variant"]
	path = OCA/product-variant
	url = git@github.com:OCA/product-variant.git
	branch = 10.0

[submodule "pledra/odoo-product-configurator"]
	path = pledra/odoo-product-configurator
	url = git@github.com:pledra/odoo-product-configurator.git
	branch = 10.0

[submodule "OCA/project"]
	path = OCA/project
	url = git@github.com:OCA/project.git
	branch = 10.0

[submodule "stephane-/odoo_addons"]
	path = stephane-/odoo_addons
	url = git@github.com:stephane-/odoo_addons.git
	branch = 8.0
